@import "tailwindcss";
@variant dark (.dark &);

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  --font-geist-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', 'Courier New', monospace;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  font-family: var(--font-geist-sans);
}

